.App {
  text-align: center;
}
.navbar{
  text-align: right;
  text-decoration: none;
}
.navbar li, .nestedLink a{
  display: inline-block;
  padding: 10px 15px;
}

.navbarLink{
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.navbar .active{
  color: green;
  text-decoration: underline;
}